
<main class="main" id="main">
    <div class="container">
      <div class="row">
         <form (ngSubmit)="create()" >         
           <div class="form-group">
             <label for="">Tutorial :</label>
             <input type="text" name="title" class="form-control" placeholder="digite o titulo" [(ngModel)]="tutorial.title"/>
           </div>
           <div class="form-group">
            <label for="">Descrição :</label>
            <input type="text" name="description" class="form-control" placeholder="descrição" [(ngModel)]="tutorial.description"/>
          </div>
                                                  
          
          <div class="form-group">                    // [(ngModel)]="user.dataNascimento | date:'dd/MM/yyyy'"
            <label for="">Data :</label>
            <input type="text" name="check_in" class="form-control" placeholder="data " [(ngModel)]="tutorial.check_in "/>
          </div>
          <div class="form-group">
            <label for="">Check_out :</label>
            <input type="text" name="check_out" class="form-control" placeholder="data separado por traços" [(ngModel)]="tutorial.check_out"/>
          </div>
          <div class="form-group">
            <label for="">Clicks :</label>
            <input type="text" name="number_clicks" class="form-control" placeholder="quantidade de clicks" [(ngModel)]="tutorial.number_clicks"/>
          </div>






           <div class="form-check">
              <input type="radio" class="form-check-input" name="done" [(ngModel)]="tutorial.published" [value]="true"/>
              <label for="" class="form-check-label">Published</label>
           </div>
           <div class="form-check">
            <input type="radio" class="form-check-input" name="done" [(ngModel)]="tutorial.published" [value]="false"/>
            <label for="" class="form-check-label">Not Published</label>
         </div>
         <div class="form-group">
           <button type="submit" class="btn btn-primary">Save</button>
         </div>
         </form>
      </div>
      <div class="row mt-4">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>              
              <th>Title</th>  
              <th>Descrição</th>  
              <th>check_in</th> 
              <th>check_out</th> 
              <th>Clicks</th> 
              <th>Done</th>            
              <th>Update</th>
              <th>Delete</th>
              
            </tr>
          </thead>
          <tbody *ngFor="let tutorial of tutorials">
            <tr>
              <td>{{tutorial.id}}</td>
              <td>{{tutorial.title}}</td>
              <td>{{tutorial.description}}</td>
              <td>{{tutorial.check_in}}</td>
              <td>{{tutorial.check_out}}</td>
              <td>{{tutorial.number_clicks}}</td>
              <td>
                <span *ngIf="tutorial.published" class="badge badge-primary">{{tutorial.published}}</span>
                <span *ngIf="!tutorial.published" class="badge badge-secondary">{{tutorial.published}}</span>
              </td>
               <td>
                  <button mat-button (click)="update(tutorial)" class="btn btn-danger">Update</button>
              </td> 
               <td>
            <span>
              <button mat-button (click)="delete(tutorial.id)" class="btn btn-danger">Delete</button>
            </span>
              </td>            
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>